/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/HelveticaNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/helvetica-neue/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, Arial, sans-serif;

  font-weight: 400;
  color: #111;
}
